html{
    height: 100%;
}
body{
    margin: 0px;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
#mainarea{
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 25px;
    background-color: #0d0d0d;
    width: 275px;
    height: 225px;
    padding: 10px;
}
input{
    margin-top: 15px;
}
#unl{
    margin-left: 30px;
}
#el{
    margin-left: 30px;
    margin-right: 26px;
}
#pl{
    margin-left: 30px;
    margin-right: 3px;
}
#signup{
    width: 150px;
    height: 30px;
    border-radius: 25px;
    margin-left: 62px;
    margin-right: 52.5px;
    margin-top: 50px;
}